.head-border{
     border-bottom: 1px solid;
}

.top-menu ul {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    list-style: none;
    margin-bottom: 0;

    li {
        padding: 5px;
        cursor: pointer;

        &:first-child{
            font-weight: 600;
        }
        
        &.active {
            background-color: #333;
            color:#fff;

        }
        &.right {
            margin-left: auto;
        }
    }
    
}

